.current {
  background-color: #fbf2d5;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
  margin: 30px 50px;
  max-height: 220px;
}

.city {
  font-size: 30px;
  margin: 10px;
  text-align: center;
}

.date-and-time {
  border: 1px solid black;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin: 15px auto;
  margin-bottom: 5px;
  max-width: 160px;
  padding: 4px;
  text-align: center;
}

.temp {
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.current-icon {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.current-temp {
  text-align: center;
}

.conditions {
  font-size: 12px;
  margin: 15px;
  text-align: center;
}

.title {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  margin: 25px auto;
  max-width: 50%;
  text-align: center;
}

.search {
  background-color: #fbf3d8;
  border: 1px solid black;
  border-radius: 4px;
  color: #384a51;
  margin: 10px auto;
  max-width: 80%;
  padding: 10px;
}

.search-button {
  background-color: white;
  border-radius: 4px;
  color: black;
  font-size: 17px;
  margin: 10px auto;
  max-width: 30%;
  transition: all 0.3 ease 0;
}

.search-button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.search-input {
  font-size: 19px;
  margin: 10px auto;
  max-width: 60%;
}

.unit {
  position: relative;
  bottom: 23px;
  left: 5px;
}
